# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=0.6,!=0.7,<1.0
oslo.vmware>=0.6.0
-e git://git.openstack.org/openstack/neutron.git@2014.2.2#egg=neutron
-e git://git.openstack.org/openstack/python-novaclient#egg=python-novaclient
-e git+git://github.com/yunesj/suds#egg=suds
oslo.log
